<div class = "navbar">
<h1>Dashboard</h1>
<button class = "logout" id="logout">Logout</button>
<div style = "clear:both"></div>
</div>
<br /><br />
<div class = "services">
<h1>Services</h1>
<a href = "#!/studentdata"><button id = "studentsData">Sudents Record</button></a>
<a href = "#!/getaccounts"><button id = "accounts">Accounts</button></a>
<a><button id = "teachersData">Teachers record</button></a>
<a><button id = "documents">Documents</button></a>
<a><button id = "management">Student management</button></a>
</div>