<div class = "students-data">
<h2>STUDENTS AT SMC</h2>
<table class = "stu-data-table" style = "width:100%">
	<thead>
		<tr>
			<th>S.No.</th>
			<th>Name</th>
			<th>Age</th>
			<th>Subject</th>
			<th>Class Time</th>
			<th>Detail</th>
			<th>Active</th>
		</tr>
	</thead>
	<tr ng-repeat = "student in studentData">
		<td>{{$index+1}}</td>
		<td>{{student.student_name}}</td>
		<td>{{student.dob}}</td>
		<td>{{student.subject}}</td>
		<td>{{student.class_starttime}}</td>
		<td><a href="#!/studentdetail/{{student.reg_id}}">View Detail</a></td>
		<td>{{student.is_active}}</td>
	</tr>
	
</table>
</div>