<div class = "student-detail">
<h2>{{studentDetail.student_name | uppercase}}</h2>	
<div ng-repeat="(key,val) in studentDetail">
	<table style = "width:100%">
		<tr>
			<td style = "width:50%"><strong>{{key}}</strong>	</td>
			<td style = "width:50%">{{val}}</td>
		</tr>
	</table>
</div>
</div>
<div class = "fee-detail">
	<h3>Fee Detail</h3>
	<table style="width:100%">
		<tr>
			<td><strong>S.No.</strong></td>
			<td><strong>Amount</strong></td>
			<td><strong>Type</strong></td>
			<td><strong>Date</strong></td>
			<td><strong>Remark</strong></td>
		</tr>
		<tr ng-repeat="data in feeData">
			<td>{{$index+1}}</td>
			<td>{{data.amount}}</td>
			<td>{{data.amount_type}}</td>
			<td>{{data.trans_date | date : 'dd-MM-yyyy'}}</td>
			<td>{{data.remark}}</td>
		</tr>
		 
	</table>
	<form class = "add-fee">
		<h3>Add Fee</h3>
		<div>
		<input type = "number" ng-model = "fee.amount" placeholder="Amount" />
		</div>
		<div>
		<input type = "text"regId, ng-model = "fee.remark" placeholder="remark" />
		</div>
		<div>
		<button ng-click= "addFee(studentDetail.reg_id, fee)">Add Fee</button>
		</div>		
	</form>
	
</div>