table{
	width:100%;
}

th, td {
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
}	

.login{
	width:100%;
	text-align: center;
}

.login-form{
	margin-top:100px;
	display:inline-block;
	border:1px solid grey;
	padding:25px;
}

.login-form > div {
	width:100%;
}
.login-form > div >label{
	width:40%;
}
.navbar{
	padding:0 15px;
	background-color:red;
}

.navbar > h1{
	float:left;
} 
.navbar > button.logout{
	margin:25px 0;
	float:right;
} 

.services{
	padding:15px;
}

.services > h1{
	text-align: center;
}
.services > a > button{
	display:inline-block;
	width:100%;
	padding:20px;
	text-transform: uppercase;
}

.stu-data-table * td,
.stu-data-table * th{
text-align: center;
padding:10px;
}

.students-data{
	padding:0 15px;

}

.students-data > h2{
}

.student-detail{
	padding:0 15px;
	width:600px;
	box-shadow:1px 1px 10px grey;
	margin:20px auto;
		
}

.fee-detail{
	background-color: aliceblue;	
	padding:15px;
}

.fee-detail > table * td{
	padding:10px;
}

.add-fee{
	width:100%;
	background-color:grey;
	padding:20px;
}
.add-fee>h3{
	display:inline-block;
}
.add-fee>div{
	display:inline-block;
	width:20%;
	
}
.add-fee>div>input{
	padding:5px;
}
