<div class = "login">
	<h3>Admin Login</h3>
<form class = "login-form" ng-submit="login(username, password)">
	<table>
	<tr>
	<td>Username</td>
	<td><input type = "text" ng-model = "username"/></td>
	</tr>
	<tr>
	<td>Password</td>
	<td><input type = "password" ng-model = "password"/></td>
	</tr>
	<tr><td colspan="2"><button type = "submit">Login</button></td></tr>
	</table>
</form>
</div>
