<table style = "width:100%">
	<tr>
		<td><strong>S.No.</strong></td>
		<td><strong>Type</strong></td>
		<td><strong>Amount</strong></td>
		<td><strong>Date</strong></td>
		<td><strong>Remark</strong></td>
	</tr>
	<tr ng-repeat = "data in accounts">
		<td>{{$index}}</td>
		<td>{{data.amount_type}}</td>
		<td>{{data.amount}}</td>
		<td>{{data.trans_date}}</td>
		<td>{{data.remark}}</td>
	</tr>
</table>
<form>
	<input type = "number" placeholder="amount" ng-model="transection.amount"/>
	<select ng-model= "transection.type">
		<option value="" selected hidden disabled>Select Type</option>
		<option value="debit">Debit</option>
		<option value="credit">Credit</option>
	</select>
	<input type = "text" placeholder = "remark" ng-model = "transection.remark"/>
	<button ng-click = "createTransection(transection)">Create Transection</button>
</form>